# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# ===============================
# ML Models & Data
# ===============================
*.joblib
*.pkl
*.csv
data/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Testing
# ===============================
htmlcov/
.coverage
.pytest_cache/

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# APP
app/core/config.py